/* #region header */
.header {
  background-image: url(../images/background-img.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;

  &__content {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__bottom {
    padding-bottom: 88px;
  }

  &__title {
    text-align: center;
    margin: 0;
    font-size: $fnt-title-36;
    line-height: 100%;
    font-weight: $fnt-weight-700;
    letter-spacing: -1.5px;

    @include h1-tablet-font-size(64px);
  }
}

/* #endregion */
