/* #region menu */
.menu {
  box-sizing: border-box;
  height: 100vh;
  background-color: #c2c2c2;

  text-transform: uppercase;
  font-weight: 600;

  &__phone-number {
    display: block;
    margin-bottom: 16px;

    color: $aside-text-color;
    text-decoration: none;
    font-size: $fnt-base-16px;
    line-height: 27px;
    letter-spacing: 0;
  }

  &__booking {
    display: block;
    padding-bottom: 8px;
    border-bottom: 1px solid $aside-text-color;
    width: fit-content;

    color: $aside-text-color;
    text-decoration: none;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
  }

  &__nav {
    margin-bottom: 40px;
  }
}

/* #endregion */
