.product {
  display: grid;

  &__photo {
    width: 100%;
    cursor: pointer;
    transition: transform 0.3s;

    &:hover {
      transform: scale(104%);
    }
  }

  &__description {
    margin: 0;
    line-height: $line-hgt-140;
  }

  &__price {
    font-weight: $fnt-weight-700;
    font-size: $fnt-big-24px;
    line-height: $line-hgt-140;
  }
}
