input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px $form-hover-text-color inset;
  -webkit-text-fill-color: $main-text-color;
  transition: background-color 5000s ease-in-out 0s;
}
