$tablet-min-width: 576px;
$desktop-min-width: 1024px;
$aside-text-color: #1d1d1d;
$main-text-color: #fff;
$form-text-color: #7e7e83;
$form-hover-text-color: #292929;
$fnt-weight-400: 400;
$fnt-weight-500: 500;
$fnt-weight-700: 700;
$fnt-small-14: 14px;
$fnt-base-16px: 16px;
$fnt-med-big-22: 22px;
$fnt-big-24px: 24px;
$fnt-title-32: 32px;
$fnt-title-36: 36px;
$radius-lg-40: 40px;
$radius-md-16: 16px;
$shadow-hover: 1px 4px 16px 0 #e8e8f066;
$shadow-active: 1px 4px 16px 0 #e8e8f0a3;
$height-input-48: 48px;
$height-button-56: 56px;
$line-hgt-140: 140%;
